@model CatalogoLivros.Web.Models.Usuario.Atualizacao.ModelViewAtualizacaoUsuario

@{
    ViewBag.Title = "Usuário - Atualizar Usuário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuário - Atualizar Usuário</h2>
<a href="/Usuario/Index">Voltar</a>
@using (Html.BeginForm("PesquisarUsuario", "Usuario", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <hr />
    <aside class="textoSucesso">
        <p>
            @ViewBag.MensagemOk
        </p>
    </aside>
    <aside class="textoErro">
        <p>
            @ViewBag.MensagemErro
        </p>
    </aside>
    <aside class="textoErro">
        <p>
            @Html.ValidationSummary()
        </p>
    </aside>
    <fieldset>
        <table>
            <tr>
                <th class="tdPesquisa">
                    @Html.LabelFor(model => model.Email)
                </th>
                <th class="tdPesquisa">
                    @Html.TextBoxFor(model => model.Email, new { @autofocus = true, @class = "elementosFormulario", @placeholder = "Email do Usuário..." })
                    @Html.HiddenFor(model => model.Email)
                </th>
                <th class="tdPesquisa">
                    @Html.LabelFor(model => model.Login)
                </th>
                <th class="tdPesquisa">
                    @Html.TextBoxFor(model => model.Login, new { @class = "elementosFormulario", @placeholder = "Login do Usuário..." })
                    @Html.HiddenFor(model => model.Login)
                </th>
                <th class="tdPesquisa">
                    <input type="submit" value="Pesquisar Usuário" class="btn btn-primary" />
                </th>
            </tr>
        </table>
    </fieldset>
}

@{
    if(Model != null)
    { 
        using (Html.BeginForm("AtualizarUsuario", "Usuario", FormMethod.Post))
        {
            <fieldset>
                <br /><h3 class="h3">Dados do Usuário</h3>
                <br />
                <table>
                    <tr>
                        <th class="td">
                            @Html.LabelFor(model => model.Nome)
                        </th>
                        <th class="td">
                            @Html.TextBoxFor(model => model.Nome, new { @class = "elementosFormulario", @placeholder = "Nome do Usuário..." })
                        </th>
                        <th class="td">
                            @Html.LabelFor(model => model.Email)
                        </th>
                        <th class="td">
                            @Html.TextBoxFor(model => model.Email, new { @class = "elementosFormulario", @placeholder = "Email do Usuário..." })
                            @Html.HiddenFor(model => model.EmailPesquisa)
                        </th>
                    </tr>
                    <tr>
                        <th class="td">
                            @Html.LabelFor(model => model.Login)
                        </th>
                        <th class="td">
                            @Html.TextBoxFor(model => model.Login, new { @class = "elementosFormulario", @placeholder = "Login do Usuário..." })
                            @Html.HiddenFor(model => model.LoginPesquisa)
                        </th>
                    </tr>
                </table>
                <br /><h3 class="h3">Dados da Foto</h3>
                <table>
                    <tr>
                        <th class="td">
                            @Html.LabelFor(model => model.NomeFotoUsuario)
                        </th>
                        <th class="td">
                            @Html.TextBoxFor(model => model.NomeFotoUsuario, new { @class = "elementosFormulario", @placeholder = "Nome da Foto do Usuário..." })
                        </th>
                    </tr>
                    <tr>
                        <th class="td" valign="top">
                            @Html.LabelFor(model => model.DescricaoFotoUsuario)
                        </th>
                        <th class="td">
                            @Html.TextAreaFor(model => model.DescricaoFotoUsuario, new { @class = "elementosFormulario", @cols = "21", @rows = "6", @placeholder = "Descrição da Foto do Usuário..." })
                        </th>
                    </tr>
                    <tr>
                        <th class="td">
                            <input type="submit" value="Atualizar Usuário" class="btn btn-success" />
                        </th>
                    </tr>
                </table>
            </fieldset>   
        }
    }
}