@model CatalogoLivros.Web.Models.Usuario.EmailUsuario.ModelViewEmailUsuario
@{
    ViewBag.Title = "Usuário - Esqueci minha Senha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuário - Esqueci minha Senha</h2>
<a href="/Obra/CatalogoServicosFuncionalidades">Voltar</a>
@{
    using (Html.BeginForm("RecuperarSenha", "Usuario", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <hr />
        <aside class="textoSucesso">
            <p>
                @ViewBag.MensagemOk
            </p>
        </aside>
        <aside class="textoErro">
            <p>
                @ViewBag.MensagemErro
            </p>
        </aside>
        if (string.IsNullOrEmpty(ViewBag.MensagemErro))
        {
            <aside class="textoErro">
                <p>
                    @Html.ValidationSummary()
                </p>
            </aside>
        }
        <fieldset>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th class="tdPesquisa">
                        @Html.LabelFor(model => model.Email)
                    </th>
                    <th class="tdPesquisa">
                        @Html.TextBoxFor(model => model.Email, new { @autofocus = true, @type = "email", @class = "elementosFormulario", @placeholder = "Email do Usuário..." })
                    </th>
                </tr>
                <tr>
                    <th class="td" colspan="2">
                        @Html.LabelFor(model => model.TipoCriptografia)<br />
                        <span class="bold">MD5:</span>
                        @Html.RadioButtonFor(model => model.TipoCriptografia, "MD5")
                        <span class="bold">SHA1:</span>
                        @Html.RadioButtonFor(model => model.TipoCriptografia, "SHA1")
                    </th>
                </tr>
                <tr>
                    <th class="tdPesquisa">
                        @Html.LabelFor(model => model.NovaSenha)
                    </th>
                    <th class="tdPesquisa">
                        @Html.PasswordFor(model => model.NovaSenha, new { @class = "elementosFormulario", @placeholder = "Nova Senha do Usuário..." })
                    </th>
                </tr>
                <tr>
                    <th class="tdPesquisa">
                        @Html.LabelFor(model => model.ConfirmaNovaSenha)
                    </th>
                    <th class="tdPesquisa">
                        @Html.PasswordFor(model => model.ConfirmaNovaSenha, new { @class = "elementosFormulario", @placeholder = "Nova Senha do Usuário..." })
                    </th>
                </tr>
                <tr>
                    <th class="tdPesquisa">
                        <input type="submit" value="Recuperar Senha" class="btn btn-success" />
                    </th>
                </tr>
            </table>
        </fieldset>
    }
}