@model CatalogoLivros.Web.Models.Obra.AtivacaoDesativacao.ModelViewAtivacaoDesativacao
@{
    ViewBag.Title = "Ativacao e Desativacao de Obras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Obra - Ativação e Desativação de <br />Obras</h2>
<a href="/Obra/CatalogoServicosFuncionalidades">Voltar</a>
@using (Html.BeginForm("PesquisarObrasAtivasDesativas", "Obra", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <hr />
    <aside class="textoSucesso">
        <p>
            @ViewBag.MensagemOk
        </p>
    </aside>
    <aside class="textoErro">
        <p>
            @ViewBag.MensagemErro
        </p>
    </aside>
    if (string.IsNullOrEmpty(ViewBag.MensagemErro))
    {
        <aside class="textoErro">
            <p>
                @Html.ValidationSummary()
            </p>
        </aside>   
    }
    <fieldset>
        <table>
            <tr>
                <th class="tdPesquisa">
                    @Html.LabelFor(model => model.Titulo)
                </th>
                <th class="tdPesquisa">
                    @Html.TextBoxFor(model => model.Titulo, new { @autofocus = true, @class = "elementosFormulario", @placeholder = "Título da Obra..." })
                </th>
            </tr>
            <tr>
                <th class="tdPesquisa">
                    @Html.LabelFor(model => model.NomeAutor)
                </th>
                <th class="tdPesquisa">
                    @Html.TextBoxFor(model => model.NomeAutor, new { @class = "elementosFormulario", @placeholder = "Nome do Autor..." })
                </th>
            </tr>
            <tr>
                <th class="tdPesquisa">
                    @Html.LabelFor(model => model.ISBN)
                </th>
                <th class="tdPesquisa">
                    @Html.TextBoxFor(model => model.ISBN, new { @class = "elementosFormulario", @placeholder = "ISBN da Obra..." })
                </th>
            </tr>
            <tr>
                <th class="tdPesquisa">
                    <input type="submit" value="Pesquisar Obra" class="btn btn-primary" />
                </th>
            </tr>
        </table>
    </fieldset>
}

@{
    if (Model != null)
    {
        using (Html.BeginForm("AtivarDesativarObras", "Obra", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <br />
            <fieldset>
                <table border="0" cellpadding="0" cellspacing="0" class="table">
                    <tr>
                        <th colspan="5">
                            <h3 class="h3">Dados da Obra</h3>
                        </th>
                    </tr>
                    <tr>
                        <th class="td">
                            <img class="imgObras" src="@Model.CaminhoFotoObra" alt="@Model.Titulo" title="@Model.Titulo" width="100" height="120" />
                        </th>
                        <th class="td">
                            @Html.DisplayNameFor(model => model.Titulo)<br />
                            @Html.DisplayFor(modelItem => Model.Titulo)
                        </th>
                        <th class="td">
                            @Html.DisplayNameFor(model => model.Genero)<br />
                            @Html.DisplayFor(modelItem => Model.Genero)
                        </th>
                        <th class="td">
                            @Html.DisplayNameFor(model => model.ISBN)<br />
                            @Html.DisplayFor(modelItem => Model.ISBN)
                            @Html.HiddenFor(modelItem => Model.ISBN)
                        </th>
                        <th class="td">
                            @Html.DisplayNameFor(model => model.StatusObra)
                        </th>
                        <th class="td">
                            @Html.EnumDropDownListFor(model => model.StatusObra, new { @class = "elementosFormulario" })
                        </th>
                    </tr>
                    <tr>
                        <th class="td" colspan="5">
                            @Html.DisplayNameFor(model => model.Sinopse)<br />
                            @Html.DisplayFor(modelItem => Model.Sinopse)
                        </th>
                    </tr>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" class="table">
                    <tr>
                        <th colspan="2">
                            <h3 class="h3">Dados do Autor</h3>
                        </th>
                    </tr>
                    <tr>
                        <th class="td">
                            @Html.DisplayNameFor(model => model.NomeAutor)<br />
                            @Html.DisplayFor(modelItem => Model.NomeAutor)
                        </th>
                        <th class="td">
                            @Html.DisplayNameFor(model => model.DescricaoAutor)<br />
                            @Html.DisplayFor(modelItem => Model.DescricaoAutor)
                        </th>
                    </tr>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" class="table">
                    <tr>
                        <th colspan="2">
                            <h3 class="h3">Dados da Editora</h3>
                        </th>
                    </tr>
                    <tr>
                        <th class="td">
                            @Html.DisplayNameFor(model => model.NomeEditora)<br />
                            @Html.DisplayFor(modelItem => Model.NomeEditora)
                        </th>
                        <th class="td">
                            @Html.DisplayNameFor(model => model.TipoEditora)<br />
                            @Html.DisplayFor(modelItem => Model.TipoEditora)
                        </th>
                    </tr>
                    <tr>
                        <th class="tdPesquisa">
                            <br />
                            <input type="submit" value="Ativar/Desativar Obra" class="btn btn-success" />
                        </th>
                    </tr>
                </table>
            </fieldset>
        }
    }
}